Flask                  ~= 2.2.2
connexion              <  3.0.0
connexion[swagger-ui]  <  3.0.0
swagger-ui-bundle      >= 0.0.2

pymongo                >= 4.6.3
dnspython              >= 2.6.1
python_dateutil        == 2.8.2
six                    ~= 1.16.0
setuptools             >= 70.0.0